<h2 class="subtitle">Education</h2>
{{#each schools}}
  <div class="education-entry">
    {{#link url class="certificate"}}
      {{name}} -- {{degree}}
    {{/link}}
    <div class="date-text">{{dates}}</div>
    <div class="location-text">{{location}}</div>
    <br/>
    <em>Major: {{major}}</em>
  </div>
{{/each}}

<h3>Online Classes</h3>
{{#each onlineCourses}}
  <div class="education-entry">
    {{#link url class="certificate"}}
      {{title}} - {{school}}
    {{/link}}
    <div class="date-text">{{dates}}</div>
    {{#link certificate class="certificate"}}
      Certificate
    {{/link}}
  </div>
{{/each}}